*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    background: none;
}
body{
    background: #060a47;
}
.wrap{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.choice-wrap{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 220px;
}
.user-choice-main,.ai-choice-main{
    width: 150px;
    margin: 0 100px;

}
.main img{
    width: 100%;
    min-width: 95px;
}
.ui{
    width: 80%;
    margin-top: 100px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}
.choice-item{
    padding: 15px;
    box-shadow: 0 0 10px 0 rgba(255,255,255,1);
    border-radius: 10px;
    display: inline-block;
    height: 80px;
    margin: 20px;
    cursor: pointer;
}
.choice-item:hover{
    background: rgba(255,255,255,.2);
}
.choice-item img{
    width: 30px;
}
.next-round-btn{
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(255,255,255,1);
    cursor: pointer;
}
