*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.slider-wrap{
    width: 500px;
    overflow: hidden;
}
.slider-wrap ul{
    width: 10000px;
    display: flex;
}
.slider-wrap li{
    transition: 1s;
    transform: translate(0px);
}
.slider-wrap li img{
    width: 500px;
}
